=content_for :page_title, 'Bitcoin Florida - The future of money, is coming to you.'
-# Navigation
%header
  .container
    .span12
      -# Responsive Logo
      #hidden_logo
      %ul#nav
        %li.current
          %a{:href => "#hero"} Home
        %li
          %a{:href => "#tour"} Why Bitcoin?
        %li#logo
        %li
          %a{:href => "#testimonial"} Testimonials
        %li
          %a{:href => "#buynow"} Learn More
-# Navigation End
-# Hero Content
#hero
  .container
    .span12
      .row
        .hero_content.span7
          -# Hero Content Text
          %h1
            Florida are you ready?
            %br/
            %b Bitcoin
            is coming.
          %br/
          %p
            We're a group of civic-minded technology enthusiasts, with a chapter near you. 
            We love Florida, and we love Bitcoin.
            %br/
            %b And we want this community to grow!
          -# Button Group
          .btn-group
            %button.btn.btn-huge
              =image_tag 'bitcoin-logo-inverse-sm.jpg', :size => '22x29', 
                :alt => 'Bitcoin Logo'
            %button.btn.btn-huge Learn More
        .span4.offset1
          .phone.white
            -# Responsive Slider
            .rslides_container
              %ul#slider.rslides
                %li
                  =image_tag 'slides/from-miami-beach.jpg', 
                    :size => '245x427',
                    :alt => 'From Miami Beach'
                %li
                  =image_tag 'slides/to-tallahassee.jpg', 
                    :size => '245x427',
                    :alt => 'To Tallahassee'
                %li
                  =image_tag 'slides/floridians-are-getting-excited.jpg', 
                    :size => '245x427',
                    :alt => 'Floridians are getting excited!'
-# Hero Content End
-# Take a Tour Content
#tour
  -# Introduction Section
  #introduction
    .container
      .span12.fadeIn
        -# Introduction Heading
        .page_heading
          %h6 Introducing
          %h1 Bitcoin. It's Cash-Money. On your phone.
        #intro_back
          .row
            .span4
              -# Introduction Class One
              .intro_text.text_one
                %h3 It's easy to use.
                %p It only takes one transaction for you to realize how simple Bitcoin is to use. It's as easy and painless as taking a picture!
                %p 
              -# Introduction Class Two
              .intro_text.text_two
                %h3 No more fees!
                %p Watch out Amex, bitcoin is coming for you! When the banks make less it's your gain. Never pay a monthly, transaction, or startup fee again!
            .span4
              -# Introduction Phone Preview
              .phone-small.black-sm
                =image_tag 'slides/like-email-was-to-postcards-phone.jpg', 
                  :size => '245x427',
                  :alt => 'Like E-mail was to postcards, Bitcoin is to Cash'
            .span4
              -# Introduction Class Three
              .intro_text.text_three
                %h3 It's your money. Ditch the middle-men!
                %p Keep the bank out of your business! Bitcoin transactions are between you and your customer. What happens with your money is your business!
          -# Introduction BG Effect and images
          #cloud_btm
            #small_cloud_btm
            #big_cloud_btm
          #small_cloud
          #big_cloud
          #plane_shadow
          .icon-flight
  -# Introduction Section End
  -# Features Section
  #feature
    .container
      .span12.fadeIn
        -# Features Heading
        .page_heading
          %h6 The best thing to happen to money since the color Green.
          %h1 Bitcoin is amazing. Here's why.
        .row.major_features
          .span4
            -# Thumbnail Class One
            .thumbnail
              =image_tag 'feature/thumb_1.png', :alt => 'Clock Icon'
              .caption
                %h3 It's compatible with everything.
                %p All you need is a smart phone with a camera, in order to send money. To receive money, all you need is an address for people to send to.
          .span4
            -# Thumbnail Class Two
            .thumbnail
              =image_tag 'feature/thumb_2.png', :alt => 'Compass Icon'
              .caption
                %h3 It's self-regulated. And resilient!
                %p The network runs itself without need for a central authority or server. Merely by participating in the system, you're contributing to it's stability.
          .span4
            .thumbnail
              -# Thumbnail Class Three
              =image_tag 'feature/thumb_3.png', :alt => 'Controls Icon'
              .caption
                %h3 Join a Decentralized Revolution
                %p When we work together to acheive common goals, eveyone wins! Bitcoin is the start of a new era in efficiency, brought by advances in Internet technologies.
  -# Features Section End
  -# Promo Video Section
  #promo
    -# Promo Video Heading
    .page_heading
      %h6 Want to see under the hood? Here's a quick overview.
      %h1 Wait, so how exactly does it work?
    .row
      -# Video Base
      #promo_base
        #laptop
          -# FancyBox Event Class
          %a#play_btn.fancybox-media{:href => "https://www.youtube.com/watch?v=Um63OQz3bjo"}
-# Promo Video Section End
-# Testimonial Section
#testimonial
  .container
    .span12.fadeIn
      -# Testimonial Heading
      .page_heading
        %h6 The verdict is in - Bitcoin is here to stay.
        %h1 Hear what others are saying about Bitcoin!
      -# Testimonial Quotes
      #t_map_container.tab-container
        .panel-container
          -# Testimonial Quote One (Purple)
          #testimony_1.quote
            =image_tag "120x120.gif", :alt => 'todo', :class => 'img-circle'
            %h5
              %span Patrick Byrne
              , CEO of Overstock.com
            %h3 "Bitcoin reduces costs for businesses--small or large--and thus enables firms to pass savings onto consumers."
          -# Testimonial Quote Two (Green)
          #testimony_2.quote
            =image_tag "120x120.gif", :alt => 'todo', :class => 'img-circle'
            %h5
              %span James Doe
              , CEO of jamesdoe.net
            %h3 "In hac habitasse platea dictumst. Suspendisse vitae velit vel lectus pharetra ullamcorper vel eros seorci."
          -# Testimonial Quote Three (Turquoise)
          #testimony_3.quote
            =image_tag "120x120.gif", :alt => 'todo', :class => 'img-circle'
            %h5
              %span Carla Doe
              , Marketing Manager at carla.com
            %h3 "Fusce mollis orci adipiscing odio mattis, sed pharetra velit pharetra velit vel lectus. Duis vehicula nisi ut sem scelerisque sagittis."
          -# Testimonial Quote Four (Orange)
          #testimony_4.quote
            =image_tag "120x120.gif", :alt => 'todo', :class => 'img-circle'
            %h5
              %span Steven Doe
              , CEO of stevendoe.com
            %h3 "In hac habitasse platea dictumst. Suspendisse vitae velit vel lectus pharetra ullamcorper vel eros seorci."
          -# Testimonial Quote Five (Blue)
          #testimony_5.quote
            =image_tag "120x120.gif", :alt => 'todo', :class => 'img-circle'
            %h5
              %span Paul Doe
              , Entrepenuer
            %h3 "Maverick has helped me start off my small business here in India! I love the theme, would definetely recommend to others."
          -# Testimonial Quote Six (Red)
          #testimony_6.quote
            =image_tag "120x120.gif", :alt => 'todo', :class => 'img-circle'
            %h5
              %span Brandon Doe
              , CEO of brandondoe.net
            %h3 "In hac habitasse platea dictumst. Suspendisse vitae velit vel lectus pharetra ullamcorper vel eros seorci."
          -# Testimonial Quote Seven (Dark Green)
          #testimony_7.quote
            =image_tag "120x120.gif", :alt => 'todo', :class => 'img-circle'
            %h5
              %span Kimberly Doe
              , CEO of kimdoe.com
            %h3 "Fusce mollis orci adipiscing odio mattis, sed pharetra velit pharetra velit vel lectus. Duis vehicula nisi ut sem scelerisque sagittis."
        -# Testimonial Quotes End
        -# Testimonial Map Content (EasyTab.js)
        .t_map
          .location_container
            -# Testimonial Quote Point One
            %span#t_purple.location
              %a{:href => "#testimony_1"}
                %i.icon-location
            -# Testimonial Quote Point Two
            %span#t_green.location
              %a{:href => "#testimony_2"}
                %i.icon-location
            -# Testimonial Quote Point Three
            %span#t_turquoise.location
              %a{:href => "#testimony_3"}
                %i.icon-location
            -# Testimonial Quote Point Four
            %span#t_orange.location
              %a{:href => "#testimony_4"}
                %i.icon-location
            -# Testimonial Quote Point Five
            %span#t_blue.location
              %a{:href => "#testimony_5"}
                %i.icon-location
            -# Testimonial Quote Point Six
            %span#t_red.location
              %a{:href => "#testimony_6"}
                %i.icon-location
            -# Testimonial Quote Point Seven
            %span#t_dgreen.location
              %a{:href => "#testimony_7"}
                %i.icon-location
        -# Testimonial Map Content End
-# Testimonial Section End
-# Buy Now Section
#buynow
  .container
    .span12.fadeIn
      -# Buy Now Heading
      .page_heading
        %h6 You've seen enough.
        %h1 We know you're amazed. Get started now!
      .row
        .span12
          %ul
            %li
              -# Button Group
              .btn-group
                %button.btn.btn-huge
                  =image_tag 'bitcoin-logo-inverse-sm.jpg', :size => '22x29', 
                    :alt => 'Bitcoin Logo'
                %button.btn.btn-huge Learn More
            -#
              %li#spacing or
              -# Badges
              %li
                %button.badge.apple &nbsp;
              %li
                %button.badge.android &nbsp;
