=content_for :page_title, 'TODO: Bitcoin Fl'
.container
  .row
    .col-md-12
      .jumbotron
        %h1 So what's all this talk about Bitcoin?
        %p.lead
          Want to understand why it will help your business? We're here in South Florida, and we'd like to help.
        %a.btn.btn-large.btn-success(href="#") Get Started
  .row
    .col-md-9
      %h3 Why Bitcoin?
      %ul
        %li No fees. No forms to fill out.
        %li No chargebacks, no underwriter contracts. Zero Risk!.
        %li Easier than credit cards. 
        %li Compatible with all phones. It's as easy as printing out a QR code next to your window. 
        %li Same as cash money. Payments go direct from your customer's phone to yours.
        %li Easy web traffic and advertising for your website.
      %h3 Who are we, and why are we doing this?
      %ul
        %li We're passionate about technology, and the power of the Internet to expand our businesses, and reduce our overhead.
        %li We care about our community. We run a "Chamber of Commerce" style meeting for the purpose of networking with other similarly minded in our community.
        %li Rough: We have coins ourself, and want to spend them
        %li This is the start of something BIG. And we want in at the ground floor.
      %h3 How do I get started?
      %ul
        %li The easiest way to get started is to contact us and/or come to our meetup
        %li If you'd like to get started on your own, create a wallet on blockchain.info, and download their app

      %h3 Frequently Raised Concerns
      %ul
        %li But my suppliers don't accept bitcoin
        %li You can instantly move your phone's Bitcoin to dollars in your bank account with Coinbase. We're betting your suppliers will come around.
        %li What about the volatility? Wasn't there a crash?
        %li Bitcoin is new, and subject. For any merchant who simply wants the convenience of mobile payments and doesn't want to worry about exchange rates, bitpay will guarantee your payments for a very small fee. It's very much like an insurance plan, for a small fee (1%). However, you should consider that Bitcoin is up XX% since last year, and that holding your coins could be one of the wisest investments you'll make.
        %li What's wrong with credit cards?
        %li Fees, and time! 
        %li What's wrong with cash?
        %li It's a pain to manage, and takes forever.
        %li This sounds complicated
        %li It's a bubble! It's a ponzi scheme! #neobee 
        %li Isn't Apple/Google/etc making a mobile payment service that will compete with Bitcoin?
        %li How does the government feel about it (irs, fincen ny, fincen ca, both incorporating. wall street is embracing)
        %li I thought Bitcoin was used by criminals
      %h3 Still on the fence?
      %p What e-mail was to postal mail, bitcoin is to cash. Come on out to our meetup and see what the future will bring! Once you see how easy it is, you'll be shocked at home much time you're spending swiping cards and counting out change. 
      %p We're not pushy, and even if you don't think it's going to be right for your business we'd still love to show you why Bitcoin is "the future of money".


    .col-md-3#call_to_action
      %h3 TODO: Call to action




