!!! 5
%html
  %head
    %title=yield(:page_title)
    %meta{:charset => "utf-8"}/
    =csrf_meta_tags
  %body
    =yield
    %footer
      .container
        .span12
          ='Copyright %s bitcoinfl.org. All rights reserved.' % Time.now.year
=stylesheet_link_tag "application", media: "all", 
  "data-turbolinks-track" => false
/[if IE 7]
  =stylesheet_link_tag 'assets/css/fontello-ie7.css'
=stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:300,400,700|Arvo'
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js", 
  :type => "text/javascript"}
=javascript_include_tag "application", "data-turbolinks-track" => false
